.team {
  padding: 60px 0;
  background-color: $greyMedium;

  @include media-breakpoint-up(md) {
    padding: 150px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 200px 0;
  }

  .title {
    font-family: $Leitura;
  }

  .presentation {
    margin-bottom: 60px;
    font-family: $Lato;
    line-height: 2;
  }

  .member {
    margin: 16px auto;
    text-align: center;
  }

  .name {
    font-family: $LatoBlack;
    font-size: 1.25rem;
  }

  .function {
    font-family: $Lato;
    font-size: 1rem;
  }
}
