.team {
  padding: 200px 0 300px;
  background-color: $greyMedium;

  .title {
    font-family: $Leitura;
  }

  .presentation {
    font-family: $Lato;
    line-height: 1.8;
  }

  .member {
    margin: 16px auto;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }

  .name {
    font-family: $LatoBlack;
    font-size: 1.25rem;
  }

  .function {
    font-family: $Lato;
    font-size: 1rem;
  }
}
