/* HK Grotesk */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk/HKGrotesk-SemiBold.woff') format('woff');
}

/* Lato */
@font-face {
  font-family: 'Lato Regular';
  src: url('../assets/fonts/Lato/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato Black';
  src: url('../assets/fonts/Lato/Lato-Black.woff') format('woff');
}

/* Leitura Display Italic */
@font-face {
  font-family: 'Leitura Display Italic';
  src: url('../assets/fonts/LeituraDisplay/LeituraDisplay-Italic.woff')
    format('woff');
}
