/* Colors */
$white: #fff;
$black: #000;
$greyLight: rgba(207, 207, 207, 0.26);
$primary: #2a66ee;

/* Fonts */
$Leitura: 'Leitura Display Italic';
$Lato: 'Lato';
$LatoBlack: 'Lato Black';
$HK: 'HK Grotesk';
